<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Demo User</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwf+XYU1zjMSY68E7ADUd3BSLV8kFb+NtCjoAdqTuWTE6PIgQ8ClRAy09HQTRdM0aAxO9JchkPKDcUKEaI9KORbQ==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$aeu6ieq4SLh6EjEWQez9N.22j1Ut6GRi38jAbyeiNCgWP2.CclolC</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
        <string>admin</string>
      </roles>
      <timestamp>1608714713799</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>

